/* Fonts */
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans_Bld;
    src: url(fonts/OpenSans-Bold.ttf);
}

/* Row 1 */
.row1 {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  height: 75px;
  width: 100%;
  z-index: 1;
}

.logo {
  margin: 17px 0 0 25px;
  max-height: 39px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 25px 175px 25px 25px;
}

li {
  display: inline;
  font-size: 16px;
  font-family: OpenSans;
  padding: 30px 20px 30px 20px;
}

.red {
  color: #9E2026;
}

.iconSize {
  width: 18px;
  margin: 2px 0px 0px 2px;
}

/* Psuedoclasses */
/* unvisited link */
a:link {
  text-decoration: none;
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* hover state */
a:hover li {
  background-color: #F4F4F4;
  padding: 28px 20px 28px 20px;
  border: 1px solid #E8E8E8;
}


.line1 {
  position: fixed;
  background-color: #3B6F80;
  height: 5px;
  width: 100%;
  z-index: 1;
}



/* Row 2 */
.row2 {
  background-color: #1A434F;
  height: 65px;
  margin: 75px 0px 0px 0px;
}

.social {
  text-align: center;
}

ul img {
  max-height: 32px;
  margin: 18px 18px 0px 0px;
}



/* Row 3 */
.main {
  max-width: 1320px;
  margin: 0 auto;
}

.margTop {
  margin-top: 30px;
}

.margBtm {
  margin-bottom: 30px;
}

.picHeader {
  max-width: 100%;
}

.mnPhoto {
  max-width: 100%;
  margin-top: -7px;
}

.prev, .next {
  position: absolute;
  top: 400px;
  padding: 16px;
  font-size: 50px;
}

.next {
  right: 65px;
}

.arrColor {
  color: white;
}

.captPos {
  position: absolute;
  margin: -300px 0px 0px 60px;
}

.captBold1 {
  font-family: OpenSans_Bld;
  color: white;
  font-size: 2.5vw;
}

.captReg {
  font-family: OpenSans;
  color: white;
  font-size: 1.25vw;
}

.captBold2 {
  font-family: OpenSans_Bld;
  color: white;
  font-size: 1.2vw;
  text-align: right;
}



/* Row 5 */
.row6 {
  background-color: #F4F4F4;
  height: 230px;
  margin: 0px 0px 30px 0px;
}

.mnPhoto2 {
  max-width: 83%;
}

.marg5Row {
  margin: 30px 0px 30px 0px;
}

.textPos {
  margin-left: -35px;
}

.textBold {
  font-family: OpenSans_Bld;
  font-size: 18px;
}

.marg5Row2 {
  margin-top: -10px;
}

.textReg {
  font-family: OpenSans;
  font-size: 15px;
}

.btn {
  display: flex;
  width: 130px;
  height: 52px;
  border: 2px solid #3B6F80;
  justify-content: center;
  margin-top: 10px;
}

h2 {
  font-family: OpenSans;
  margin-top: 14px;
  font-size: 16px;
  color: #3B6F80;
}

.main3 {
  text-align: center;
}

.marg3 {
  margin-bottom: 30px;
}



/* Row 6 */
.margBtm2 {
  margin-bottom: 30px;
}

.box {
    background-color: #E0E0E0;
    padding: 70px 0px;
}

.margBtm3 {
  margin-bottom: 60px;
}

.mnPhoto3 {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.absol {
  position: absolute;
  margin-top: 55px;
}

.border {
  text-align: center;
  color: #6A6A6A;
  font-size: 1.8rem;
  background-color: white;
  border: 1px solid #6A6A6A;
  width: 60px;
  padding: 4px 5px;
}

.textReg.headln {
  font-size: 2.4rem;
  color: #6A6A6A;
}

.textReg.headln:hover {
  text-decoration: underline;
}

.textReg.author {
  font-size: 1.3rem;
}

.athr {
  font-family: OpenSans_Bld;
}

.social2 {
  margin: 0px 0px 10px -20px;
}

.imgBorder {
  width: 14px;
  height: 17px;
  margin: 0px -35px 0px 0px;
  max-height: 15px;
  border: 1px solid #F4F4F4;
  padding: 8px 10px 8px 10px;
}

.textReg.para {
  font-size: 1.8rem;
  color: #666;
}

.textBold.more {
  font-size: 1.8rem;
  font-weight: 700;
  color: #247182;
}

.textBold.more:hover {
  color: #014452;
  text-decoration: underline;
}

li.tag {
  display: inline-block;
  border: 1px solid #247182;
  padding: 7px 0px 7px 0px;
  margin: 0px 15px 6px 0px;
  font-size: 1.3rem;
  font-weight: 700;
}

.tagOpt {
  color: #247182;
  padding: 10px 15px 10px 15px;
}

/* Psuedoclasses */
/* hover state */
li.tag:hover {
  background-color: #1A434F;
  border: 1px solid #1A434F;
}

.tagOpt:hover {
  color: white;
}



/* Row 7 */
.box2 {
  background-color: #E0E0E0;
  padding: 37px 0px;
}

.absol2 {
  position: absolute;
  margin-top: -21px;
}

/* Row 8 and on... */
.line2 {
  background-color: #3B6F80;
  height: 5px;
  width: 100%;
}

.row11 {
  background-color: #F4F4F4;
  height: auto;
  padding: 35px 35px;
}

.logo2 {
  width: 200px;
}

.footSize {
  font-size: 1.4rem;
  color: #4B4B4B;
}

.footSizeBold {
  font-size: 1.4rem;
  color: #4B4B4B;
}

.footSize2 {
  font-size: 1.4rem;
}

a.footSize2:visited {
  color: #3B6F80;
}

a.footSize2:hover {
  text-decoration: underline;
}

.center2 {
  text-align: center;
  margin-top: 10px;
}

/* Hover States */
/* mouse over link */
a:hover .btn {
  background-color: #1A4350;
  border: 2px solid #1A4350;
  color: white;
}

a:hover h2 {
  color: white;
}

/* Media Queries */
@media(max-width: 1024px) {
  /* Row 1 */
  .hamburger {
    position: absolute;
    height: 35px;
    width: 35px;
    border: 1px solid #3B6F80;
    padding: 5px;
    margin: 12px 0px 0px 5px;
  }

  .hamLine {
    width: 35px;
    height: 5px;
    background-color: #3B6F80;
    margin: 5px 1.5px 0px 0px;
  }

  .moveLogo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-height: 39px;
  }

  .vanish {
    visibility: hidden;
  }
}

/* Media Queries */
@media(max-width: 960px) {
/* Row 3 */
  .disappear {
    visibility: hidden;
  }

  .captPos {
    position: static;
    padding: 0px 15px;
    margin: 0px;
    border-bottom: 1px solid grey;
  }

  .captBold1 {
    font-family: OpenSans_Bld;
    color: #57626F;
    font-size: 27px;
  }

  .captReg {
    font-family: OpenSans;
    color: #57626F;
    font-size: 15px;
  }

  .captBold2 {
    font-family: OpenSans_Bld;
    color: #57626F;
    font-size: 15px;
    text-align: right;
  }
}

@media(max-width: 767px) {
/* Row 4 */
  .main2 {
    max-width: 533px;
    margin: 0 auto;
  }

  .marg2 {
    margin-bottom: 30px;
  }

/* Row 5 */
.eight.columns.twlv {
  width: 100%;
}

  .row6 {
    height: auto;
  }

  .seven.columns.twlv {
    width: 100%;
  }

  .mnPhoto2 {
    max-width: 100%;
  }

  .five.columns.marg5Row {
    width: 100%;
  }

  .textPos {
    margin-left: 20px;
  }
}

@media(max-width: 991px) {
/* Row 6 */
  .eight.columns.box {
    width: 100%;
  }

  .four.columns.twlv {
    width: 100%;
  }
}
