/* Site Skeleton */
.row2 {
  top: 75px;
  background-color: #1A434F;
  height: 65px;
  margin: 75px 0px 30px 0px;
}

.main {
  max-width: 1320px;
  margin: 0 auto;
}

.marg {
  margin-bottom: 30px;
}

.row6 {
  background-color: lightgrey;
  height: 230px;
  margin: 0px 0px 30px 0px;
}

.row8 {
  height: 650px;
  margin: 0px 60px 30px 60px;
}

.row9 {
  background-color: lightgrey;
  height: 235px;
}

.row10 {
  background-color: black;
  height: 415px;
}

.row11 {
  height: 275px;
}

.row12 {
  background-color: white;
  height: 80px;
  margin: 30px 0px 0px 0px;
}

.col1 {
  height: 160px;
}

.col2 {
  height: 1010px;
}

.col3 {
  background-color: lightgrey;
  height: 575px;
}

.col4 {
  background-color: black;
  height: 275px;
}

.col5 {
  background-color: black;
  height: 275px;
}

.col6 {
  height: 275px;
}

.line1 {
  position: fixed;
  background-color: #3B6F80;
  height: 5px;
  width: 100%;
}

.line2 {
  background-color: pink;
  height: 5px;
}

/* On Site Images and Text */
/* First Row */
.row1 {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  height: 75px;
  width: 100%;
}

.logo {
  margin: 17px 0 0 25px;
  max-height: 39px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 25px 175px 25px 25px;
}

.mag {
  width: 18px;
  margin: 2px 0px 0px 0px;
}

li {
  display: inline;
  font-size: 16px;
  padding: 30px 20px 30px 20px;
}

.red {
  color: #9E2026;
}

/* Second Row */
.social {
  text-align: center;
}

ul img {
  max-height: 32px;
  margin: 18px 18px 0px 0px;
}

/* Third Row */
.picHead {
  max-width: 100%;
}

.mnPhoto {
  max-width: 100%;
  margin-top: -7px;
}

/* Fifth Row */
.mnPhoto2 {
  max-width: 47%;
}

h5 {
  font-size: 18px;
  text-align: center;
}

h6 {
  margin: 10px 0px 60px 0px;
  text-align: center;
  font-style: italic;
}

/* HOVER STATES */
/* unvisited link */
a:link {
  text-decoration: none;
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover li {
  background-color: #F4F4F4;
  padding: 30px 20px 30px 20px;
  border: 1px solid #E8E8E8;
}

/* selected link */
a:active {
}

/* Media Queries */
@media(max-width: 1024px) {
  .logo {
    margin: 17px 45px 0px 0px;
    max-height: 39px;
  }

  .six.columns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .vanish {
    visibility: hidden;
  }

  .hamburger {
    position: absolute;
    height: 35px;
    width: 35px;
    border: 1px solid #3B6F80;
    padding: 5px;
    margin: 12px 0px 0px 5px;
  }

  .hamLine {
    width: 35px;
    height: 5px;
    background-color: #3B6F80;
    margin: 5px 1.5px 0px 0px;
  }
}
